#coffee-map {
  height: 600px;
  width: 100%;
}

#hike-map {
  height: 600px;
  width: 100%;
}

#movie-map {
  height: 600px;
  width: 100%;
}

#dinner-map {
  height: 600px;
  width: 100%;
}

#tourist-map {
	height: 600px;
	width: 100%;
}

#pamper-map {
  height: 600px;
  width: 100%;
}

#weather {
  background-color: #555152;
}